In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Reviews.csv')
df

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...
...,...,...,...,...,...,...,...,...,...,...
568449,568450,B001EO7N10,A28KG5XORO54AY,Lettie D. Carter,0,0,5,1299628800,Will not do without,Great for sesame chicken..this is a good if no...
568450,568451,B003S1WTCU,A3I8AFVPEE8KI5,R. Sawyer,0,0,2,1331251200,disappointed,I'm disappointed with the flavor. The chocolat...
568451,568452,B004I613EE,A121AA1GQV751Z,"pksd ""pk_007""",2,2,5,1329782400,Perfect for our maltipoo,"These stars are small, so you can give 10-15 o..."
568452,568453,B004I613EE,A3IBEVCTXKNOH,"Kathy A. Welch ""katwel""",1,1,5,1331596800,Favorite Training and reward treat,These are the BEST treats for training and rew...
568453,568454,B001LR2CU2,A3LGQPJCZVL9UC,srfell17,0,0,5,1338422400,Great Honey,"I am very satisfied ,product is as advertised,..."

In [3]:
df.isnull().sum()

Id                         0
ProductId                  0
UserId                     0
ProfileName               16
HelpfulnessNumerator       0
HelpfulnessDenominator     0
Score                      0
Time                       0
Summary                   27
Text                       0
dtype: int64

In [4]:
df1 = df.dropna()

In [5]:
df1.isnull().sum()

Id                        0
ProductId                 0
UserId                    0
ProfileName               0
HelpfulnessNumerator      0
HelpfulnessDenominator    0
Score                     0
Time                      0
Summary                   0
Text                      0
dtype: int64

In [6]:
df1.shape

(568411, 10)

In [7]:
df1['review'] = df1['Summary'] +df1['Text']

<ipython-input-7-4f227118e0bd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['review'] = df1['Summary'] +df1['Text']

In [36]:
df2 = df1.drop(['Id','ProductId','UserId','ProfileName','HelpfulnessNumerator','HelpfulnessDenominator','Time','Summary','Text'],axis=1)

In [37]:
df2

        Score                                             review
0           5  Good Quality Dog FoodI have bought several of ...
1           1  Not as AdvertisedProduct arrived labeled as Ju...
2           4  "Delight" says it allThis is a confection that...
3           2  Cough MedicineIf you are looking for the secre...
4           5  Great taffyGreat taffy at a great price.  Ther...
...       ...                                                ...
568449      5  Will not do withoutGreat for sesame chicken..t...
568450      2  disappointedI'm disappointed with the flavor. ...
568451      5  Perfect for our maltipooThese stars are small,...
568452      5  Favorite Training and reward treatThese are th...
568453      5  Great HoneyI am very satisfied ,product is as ...

[568411 rows x 2 columns]

In [38]:
df3 =df2[~(df2.Score==3)]

In [39]:
df3.shape

(525773, 2)

In [40]:
df3['Score'] = df3['Score'].apply(lambda x: 1 if x>3 else 0 )

<ipython-input-40-d5c092a99c0b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Score'] = df3['Score'].apply(lambda x: 1 if x>3 else 0 )

In [41]:
df3

        Score                                             review
0           1  Good Quality Dog FoodI have bought several of ...
1           0  Not as AdvertisedProduct arrived labeled as Ju...
2           1  "Delight" says it allThis is a confection that...
3           0  Cough MedicineIf you are looking for the secre...
4           1  Great taffyGreat taffy at a great price.  Ther...
...       ...                                                ...
568449      1  Will not do withoutGreat for sesame chicken..t...
568450      0  disappointedI'm disappointed with the flavor. ...
568451      1  Perfect for our maltipooThese stars are small,...
568452      1  Favorite Training and reward treatThese are th...
568453      1  Great HoneyI am very satisfied ,product is as ...

[525773 rows x 2 columns]

In [42]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df3.review,df3.Score,test_size=0.2)

In [43]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()

In [44]:
X_train_vals = vectorizer.fit_transform(X_train.values)

In [45]:
X_train_vals.shape

(420618, 174632)

In [46]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

In [47]:
model.fit(X_train_vals,y_train)

MultinomialNB()

In [48]:
X_test_count = vectorizer.transform(X_test)

In [49]:
model.score(X_test_count,y_test)

0.9307403356949265

In [50]:
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression()
lr_model.fit(X_train_vals,y_train)

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [51]:
lr_model.score(X_test_count,y_test)

0.9498644857591175