In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('Bengaluru_House_Data.csv')
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [3]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [4]:
df['balcony']= df['balcony'].fillna(0)

In [5]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony            0
price              0
dtype: int64

In [6]:
df1 = df.drop(['area_type','availability','society'],axis =1)

In [7]:
df1

                       location       size total_sqft  bath  balcony   price
0      Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0      3.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00
4                      Kothanur      2 BHK       1200   2.0      1.0   51.00
...                         ...        ...        ...   ...      ...     ...
13315                Whitefield  5 Bedroom       3453   4.0      0.0  231.00
13316             Richards Town      4 BHK       3600   5.0      0.0  400.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0      1.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0      1.0  488.00
13319              Doddathoguru      1 BHK        550   1.0      1.0   17.00

[13320 rows x 6 columns]

In [8]:
df1.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
balcony        0
price          0
dtype: int64

In [9]:
df2 = df1.dropna()

In [10]:
df2.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [11]:
df2.shape

(13246, 6)

In [12]:
df2['location'].unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli', ...,
       '12th cross srinivas nagar banshankari 3rd stage',
       'Havanur extension', 'Abshot Layout'], dtype=object)

In [13]:
df2['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [14]:
df2['bhk'] = df2['size'].apply(lambda x: int(x.split(' ')[0]))

<ipython-input-14-eadc3504d97e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['bhk'] = df2['size'].apply(lambda x: int(x.split(' ')[0]))

In [15]:
df2

,location,size,total_sqft,bath,balcony,price,bhk
0,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07,2
1,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00,4
2,Uttarahalli,3 BHK,1440,2.0,3.0,62.00,3
3,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00,3
4,Kothanur,2 BHK,1200,2.0,1.0,51.00,2
...,...,...,...,...,...,...,...
13315,Whitefield,5 Bedroom,3453,4.0,0.0,231.00,5
13316,Richards Town,4 BHK,3600,5.0,0.0,400.00,4
13317,Raja Rajeshwari Nagar,2 BHK,1141,2.0,1.0,60.00,2
13318,Padmanabhanagar,4 BHK,4689,4.0,1.0,488.00,4
13319,Doddathoguru,1 BHK,550,1.0,1.0,17.00,1

In [16]:
df2.dtypes

location       object
size           object
total_sqft     object
bath          float64
balcony       float64
price         float64
bhk             int64
dtype: object

In [17]:
df2['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [18]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [19]:
df2[~df2['total_sqft'].apply(is_float)]

                 location   size   total_sqft  bath  balcony    price  bhk
30              Yelahanka  4 BHK  2100 - 2850   4.0      0.0  186.000    4
122                Hebbal  4 BHK  3067 - 8156   4.0      0.0  477.000    4
137    8th Phase JP Nagar  2 BHK  1042 - 1105   2.0      0.0   54.005    2
165              Sarjapur  2 BHK  1145 - 1340   2.0      0.0   43.490    2
188              KR Puram  2 BHK  1015 - 1540   2.0      0.0   56.800    2
...                   ...    ...          ...   ...      ...      ...  ...
12975          Whitefield  2 BHK   850 - 1060   2.0      0.0   38.190    2
12990      Talaghattapura  3 BHK  1804 - 2273   3.0      0.0  122.000    3
13059              Harlur  2 BHK  1200 - 1470   2.0      0.0   72.760    2
13265               Hoodi  2 BHK  1133 - 1384   2.0      0.0   59.135    2
13299          Whitefield  4 BHK  2830 - 2882   5.0      0.0  154.500    4

[190 rows x 7 columns]

In [20]:
def sqft_to_num(x):
    tokens = x.split('-')
    if len(tokens) ==2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [21]:
df2['total_sqft'] =df2['total_sqft'].apply(sqft_to_num)

<ipython-input-21-7df4740b3c39>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['total_sqft'] =df2['total_sqft'].apply(sqft_to_num)

In [22]:
df2.head()

                   location       size  total_sqft  bath  balcony   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0      1.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0      3.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0      3.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0      1.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0      1.0   51.00    2

In [23]:
len(df2.location.unique())

1304

In [24]:
df2['location'] = df2.location.apply(lambda x: x.strip())

<ipython-input-24-239e54c7c135>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['location'] = df2.location.apply(lambda x: x.strip())

In [25]:
location_stats = df2.groupby('location')['location'].agg('count').sort_values(ascending = False)

In [26]:
location_stats

location
Whitefield               535
Sarjapur  Road           392
Electronic City          304
Kanakpura Road           266
Thanisandra              236
                        ...
1 Giri Nagar               1
Kanakapura Road,           1
Kanakapura main  Road      1
Karnataka Shabarimala      1
whitefiled                 1
Name: location, Length: 1293, dtype: int64

In [27]:
location_stats_less_than_10 = location_stats[location_stats<=10]

In [28]:
df2.location = df2.location.apply(lambda x: 'other' if x in location_stats_less_than_10 else x)

C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [29]:
len(df2.location.unique())

242

In [30]:
df2

,location,size,total_sqft,bath,balcony,price,bhk
0,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4
2,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3
3,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3
4,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2
...,...,...,...,...,...,...,...
13315,Whitefield,5 Bedroom,3453.0,4.0,0.0,231.00,5
13316,other,4 BHK,3600.0,5.0,0.0,400.00,4
13317,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,1.0,60.00,2
13318,Padmanabhanagar,4 BHK,4689.0,4.0,1.0,488.00,4
13319,Doddathoguru,1 BHK,550.0,1.0,1.0,17.00,1

In [31]:
df2['price_per_sqft'] = df2['price']*100000/df2['total_sqft']

<ipython-input-31-9f040ece3653>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['price_per_sqft'] = df2['price']*100000/df2['total_sqft']

In [32]:
df2

,location,size,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2,4250.000000
...,...,...,...,...,...,...,...,...
13315,Whitefield,5 Bedroom,3453.0,4.0,0.0,231.00,5,6689.834926
13316,other,4 BHK,3600.0,5.0,0.0,400.00,4,11111.111111
13317,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,1.0,60.00,2,5258.545136
13318,Padmanabhanagar,4 BHK,4689.0,4.0,1.0,488.00,4,10407.336319
13319,Doddathoguru,1 BHK,550.0,1.0,1.0,17.00,1,3090.909091

In [33]:
df2[df2.total_sqft/df2.bhk<300]

,location,size,total_sqft,bath,balcony,price,bhk,price_per_sqft
9,other,6 Bedroom,1020.0,6.0,0.0,370.0,6,36274.509804
45,HSR Layout,8 Bedroom,600.0,9.0,0.0,200.0,8,33333.333333
58,Murugeshpalya,6 Bedroom,1407.0,4.0,1.0,150.0,6,10660.980810
68,Devarachikkanahalli,8 Bedroom,1350.0,7.0,0.0,85.0,8,6296.296296
70,other,3 Bedroom,500.0,3.0,2.0,100.0,3,20000.000000
...,...,...,...,...,...,...,...,...
13277,other,7 Bedroom,1400.0,7.0,0.0,218.0,7,15571.428571
13279,other,6 Bedroom,1200.0,5.0,0.0,130.0,6,10833.333333
13281,Margondanahalli,5 Bedroom,1375.0,5.0,1.0,125.0,5,9090.909091
13303,Vidyaranyapura,5 Bedroom,774.0,5.0,3.0,70.0,5,9043.927649
13311,Ramamurthy Nagar,7 Bedroom,1500.0,9.0,2.0,250.0,7,16666.666667

In [34]:
df2.shape

(13246, 8)

In [35]:
df3 = df2[df2.total_sqft/df2.bhk>=300]

In [36]:
df3.shape

(12456, 8)

In [37]:
df3.price_per_sqft.describe()

count     12456.000000
mean       6308.502826
std        4168.127339
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [38]:
mean_d = df3.price_per_sqft.mean()
std_d = df3.price_per_sqft.std()

In [39]:
mean_d,std_d

(6308.502826047999, 4168.127338507359)

In [40]:
lo_p = mean_d-std_d
hi_p = mean_d+std_d

In [41]:
df4 = df3[df3.price_per_sqft<=lo_p]
df4.shape

(40, 8)

In [42]:
df5 = df3[df3.price_per_sqft>=hi_p]
df5.shape

(1122, 8)

In [43]:
df_drop = pd.concat([df4,df5],axis =0)

In [44]:
df_drop

,location,size,total_sqft,bath,balcony,price,bhk,price_per_sqft
132,Electronic City,2 BHK,880.0,1.0,1.0,16.5,2,1875.000000
514,Banashankari Stage III,4 Bedroom,8500.0,4.0,2.0,145.0,4,1705.882353
674,Yelahanka,3 BHK,35000.0,3.0,3.0,130.0,3,371.428571
767,Sarjapur,5 Bedroom,4360.0,4.0,1.0,90.0,5,2064.220183
810,other,4 Bedroom,10961.0,4.0,1.0,80.0,4,729.860414
...,...,...,...,...,...,...,...,...
13290,Sarjapur Road,4 BHK,4050.0,2.0,1.0,450.0,4,11111.111111
13296,Cox Town,2 BHK,1200.0,2.0,2.0,140.0,2,11666.666667
13305,Hulimavu,1 BHK,500.0,1.0,3.0,220.0,1,44000.000000
13306,other,4 Bedroom,1200.0,5.0,0.0,325.0,4,27083.333333
13316,other,4 BHK,3600.0,5.0,0.0,400.0,4,11111.111111

In [45]:
df6 = df3.drop(df_drop.index)

In [46]:
df6.shape,df3.shape

((11294, 8), (12456, 8))

In [47]:
df7 = df6.drop(['size'],axis=1)

In [48]:
df7.dtypes

location           object
total_sqft        float64
bath              float64
balcony           float64
price             float64
bhk                 int64
price_per_sqft    float64
dtype: object

In [49]:
df7.shape

(11294, 7)

In [50]:
df8 = pd.get_dummies(df7,drop_first=True)

In [51]:
df8.shape

(11294, 246)

In [52]:
#df3 = df2.dropna()

In [53]:
#data = pd.get_dummies(df3,drop_first=True)

In [54]:
#data.shape

In [55]:
from sklearn.model_selection import train_test_split

In [56]:
X_train,X_test,y_train,y_test = train_test_split(df8.drop(['price'],axis=1),df8['price'],test_size=0.2,random_state=10)

In [57]:
from sklearn.linear_model import LinearRegression

In [58]:
model = LinearRegression()

In [59]:
model.fit(X_train,y_train)

LinearRegression()

In [60]:
model.score(X_test,y_test)

0.9546044830176045

In [64]:
X = df8.drop('price',axis=1)
y = df8.price

In [65]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df8.drop(['price'],axis=1),df8['price'],test_size=0.2,random_state=10)

In [66]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.9546044830176045

In [67]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
cv = ShuffleSplit(n_splits=5,test_size=0.2,random_state=0)
cross_val_score(LinearRegression(),X,y,cv=cv)

array([0.95496377, 0.95183241, 0.94967299, 0.9499222 , 0.95355692])