In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('train.csv')
df

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0
...,...,...,...,...,...,...
404285,404285,433578,379845,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0
404286,404286,18840,155606,Do you believe there is life after death?,Is it true that there is life after death?,1
404287,404287,537928,537929,What is one coin?,What's this coin?,0
404288,404288,537930,537931,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0
404289,404289,537932,537933,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0

In [3]:
df1 = df.drop(['id','qid1','qid2'],axis =1)

In [4]:
df1.shape

(404290, 3)

In [5]:
df1.isnull().sum()

question1       1
question2       2
is_duplicate    0
dtype: int64

In [6]:
df2 = df1.dropna()

In [7]:
df2.isnull().sum()

question1       0
question2       0
is_duplicate    0
dtype: int64

In [8]:
df2['question'] = df2['question1']+df2['question2']
df3 = df2.drop(['question1','question2'],axis =1)
df3

<ipython-input-8-00d2b5d33cc0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['question'] = df2['question1']+df2['question2']

        is_duplicate                                           question
0                  0  What is the step by step guide to invest in sh...
1                  0  What is the story of Kohinoor (Koh-i-Noor) Dia...
2                  0  How can I increase the speed of my internet co...
3                  0  Why am I mentally very lonely? How can I solve...
4                  0  Which one dissolve in water quikly sugar, salt...
...              ...                                                ...
404285             0  How many keywords are there in the Racket prog...
404286             1  Do you believe there is life after death?Is it...
404287             0                 What is one coin?What's this coin?
404288             0  What is the approx annual cost of living while...
404289             0  What is like to have sex with cousin?What is i...

[404287 rows x 2 columns]

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df3.question,df3.is_duplicate,test_size=0.2)

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()

In [11]:
x_train_values = vectorizer.fit_transform(X_train.values)

In [12]:
x_train_values.shape

(323429, 78913)

In [13]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

In [14]:
model.fit(x_train_values,y_train)

MultinomialNB()

In [15]:
X_test_count = vectorizer.transform(X_test)

In [16]:
model.score(X_test_count,y_test)

0.7371193944940513

In [17]:
#from sklearn.linear_model import LogisticRegression
#lr_model = LogisticRegression()
#lr_model.fit(x_train_values,y_train)

In [18]:
#lr_model.score(X_test_count,y_test)

In [19]:
#from sklearn.tree import DecisionTreeClassifier
#dt_model = DecisionTreeClassifier()
#dt_model.fit(x_train_values,y_train)

In [20]:
#dt_model.fit(x_train_values,y_train)

In [ ]:
from sklearn.svm import SVC
svc_model = SVC()
svc_model.fit(x_train_values,y_train)